name: Go
on: [push]
jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up Go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15
        id: go
      - name: lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.50
      - name: Test
        run: go test -v ./...